@import 'jeet'

// edit()

normalize-css()
base()

font-face('nb_international_mono-webfont','../fonts','normal','normal')

link = #e2c3ff
linkactive = #9d53aa
linkvisited = #ae70d6
linkhover = #eb7cff

html
  // min-height 100%
  // height: 100%
  // width: 100%
  background-color #3333d3 !important
  font-family 'nb_international_mono-webfont', monospace;
  font-kerning: normal;
  

  // margin:0;
  // margin: 0 auto;
  // padding:0;
  
  // overflow hidden
  
  // width: auto
  // box-sizing:border-box
  
  

body
  -webkit-text-size-adjust: 100%;
  
  // min-height 100% 
  // height: 100%
  // width: 100%
  // padding: 50px
  background-color #3333d3 !important
  color: white 
  
  // margin:0;
  // margin: 0 auto;
  // padding:0;
  
  // overflow hidden
  
  // width: auto
  // box-sizing:border-box
  text-align center
  font-family 'nb_international_mono-webfont', monospace;
  font-kerning: normal;
  
  padding-bottom 4em
  
a
  &:link 
    // color: link
    color: #FFF
    // text-decoration none
    background-image: none
    // border-bottom: 1px solid link;
    
  &:hover 
    // color: linkhover
    color: #FFF
    background-image: none
    // border-bottom: 1px solid linkhover;
  &:visited 
    // color: linkvisited
    color: #FFF
  &:active 
    // color: linkactive
    color: #FFF
    
#squirelogo
  center(30em, 5%)
  margin-top 6em
  margin-bottom 1em 
  
  +below(900px)
    margin-top 6em
    margin-bottom 1em 
  
  +below(600px)
    margin-top 4em 
    margin-bottom 1em
 

// SVG fix for IE 
img 
  width: 100%

img, svg
  max-width 100%
  // display: block
    
#contentwidth
  // center(100%, 15%)
  center(100%, 5%)
  // cf()
    
.topcopy
  center(40em)
  text-align justify
  
.centered
  text-align center
  
p
  font-family 'nb_international_mono-webfont', monospace;
  font-kerning: normal;
  // text-align center 
    
  line-height 1.3em
  a
    font-weight bold
    // text-shadow: 1px 0px rgba(255,255,255,1.0); 
    
    &:link 
      // color: link
      color: #fff
      // text-decoration none
      background-image: none
      // border-bottom: 1px solid link;
      
    &:hover 
      // color: linkhover
      color: #FFF
      background-image: none
      // border-bottom: 1px solid linkhover;
    &:visited 
      // color: linkvisited
      color: #FFF
    &:active 
      color: #FFF
      // color: linkactive
  
p.tagline
  font-size 1.3em
  padding-bottom 2em
  // padding-bottom 1em
    
.letterframe
  center(60em)
  text-align left
  
.faqframe
  center(50em)
  text-align left
  
#letterlogo
  col(1/2)
  // shift(3/4)
  max-width 50%
  margin-top 4em
  margin-bottom 4em  
  
  +below(900px)
    margin-top 1em
    margin-bottom 1em 
  
#letteraddress
  margin-top 8.5em
  col(1/4)
  shift(1/4)
  font-size 0.8em
  
  +below(900px)
    margin-top 0
    margin-bottom 4em
    stack()
    unshift()
    font-size 0.7em
  
  p
    margin-top 0
    margin-bottom 0
    padding-top 0
    padding-bottom 0
  
#letterbody
  col(3/4)
  // offset(-1/2)
  // stack()
    
  +below(900px)
    stack()
    
p.openletter
  font-size 1.4em
  
p.faqtitle
  font-size 3em 
  
p.faqQuestion
  font-size 1.4em 
  margin-bottom 0
  padding-bottom 0
  
.faqAnswer
  margin-bottom 3em 
  margin-top 0
  padding-top 0
  
  p
    font-size 1em 

.backhome
  padding-top 4em 

hr.splitter
  // width 70%
  border-top 5px solid white 
  border-bottom 5px solid white 
  margin-bottom 2em !important
  margin-top 1em
  // padding-bottom 1em
  
.fullcol
  col(1)
  // cf()

.gamelist
  // transition: all .5s ease
  cf()
  // padding-top 1em
  
.onethird
  // transition: all .5s ease
  // cf()
  // col(1/3, cycle: 3)
  col(1/3, gutter: 1.3, cycle: 3)
  // col(1/3)
  // cf()
  // span(1/3)
  // col(1/3)
  
  +below(900px)
    // col(1/2, uncycle: 3, cycle: 2)
    col(1/2, gutter: 1.3, uncycle: 3, cycle: 2)
  
  +below(600px)
    col(1)
  
.gamebox
  // transition: all .5s ease
  position relative
  height 14em
  // background-color #FFF 
  border 1px solid
  // margin-bottom 1em
  // margin-right 1em
  // margin-left 1em
    
  img
    position relative
    align(both)
    max-width 100%
    

.gamename
  // position relative
  align(both)
  
.role
  margin-bottom 2em 
  padding-top .5em   
  
  p
    padding-top 0
    padding-bottom 0
    margin-top 0
    margin-bottom 0
    
  a
    &:link
      // text-decoration none
    &:hover
      // text-decoration underline 

  // a  
  //   &:link 
  //     color: link
  //     text-decoration none
  //     background-image: none
  //     // border-bottom: 1px solid link;
      
  //   &:hover 
  //     color: linkhover
  //     background-image: none
  //     // border-bottom: 1px solid linkhover;
  //   &:visited 
  //     color: linkvisited
  //   &:active 
  //     color: linkactive
  
.brigador
  background url("../img/brigador-bg.png") center center
  -webkit-background-size cover 
  -o-background-size cover 
  background-size cover 

.rk3000
  background url("../img/rk3000-bg.png") center center
  -webkit-background-size cover 
  -o-background-size cover 
  background-size cover 
  
.delversdrop
  background url("../img/delversdrop-bg.png") center center
  -webkit-background-size cover 
  -o-background-size cover 
  background-size cover 
    
.kerfuffle
  background url("../img/kerfuffle-bg.png") center center
  -webkit-background-size cover 
  -o-background-size cover 
  background-size cover 
      
.pioneers
  background url("../img/pioneers-bg.png") center center
  -webkit-background-size cover 
  -o-background-size cover 
  background-size cover 
        
.wherethewater
  background url("../img/wherethewater-bg.png") center center
  -webkit-background-size cover 
  -o-background-size cover 
  background-size cover 
          
.mushroom11
  background url("../img/mushroom11-bg.png") center center
  -webkit-background-size cover 
  -o-background-size cover 
  background-size cover 
            
.borumo
  background url("../img/borumo-bg.png") center center
  -webkit-background-size cover 
  -o-background-size cover 
  background-size cover 
              
.homeimprov
  background url("../img/homeimprov-bg.png") center center
  -webkit-background-size cover 
  -o-background-size cover 
  background-size cover 