extends layout
block vars
  - var pageTitle = 'SQUIRE FAQ'

block content
  #squirelogo
    a(href="index.html")
      img(src="img/squirelogo.svg", alt="Squire Logo")

  #contentwidth
    .fullcol
      .faqframe
        p.faqtitle FAQ
        p.faqQuestion
          | WHAT DOES SQUIRE DO?
        .faqAnswer
          p
            | Squire’s main capabilities can be categorized into 3 disciplines: 
            b production, marketing & public relations:
            br
          ul
            li
              b Production:
              |  project organization, management, scoping, tracking & herding
            li
              b Marketing:
              |  SWOT (Strengths-Weaknesses-Opportunities-Threats), branding, competitive analysis, market landscape, release/distribution strategy
            li
              b PR:
              |  copywriting, direct outreach, events, contests
          p
        p.faqQuestion
          | WHO RUNS SQUIRE?
        .faqAnswer
          p
            | Squire is run by Chris Dwyer. 
            br
            br
            |       In a previous life, he worked for branding agencies as a project manager & brand strategist for 4 years. Working on exhilarating branding & packaging projects for chocolates, sleep apnea devices & tampons wasn’t creatively fulfilling, so he pursued a freelance career in video games.
          p
            | His first shipped game was 
            a(href='http://www.pwnee.com/') Cloudberry Kingdom.
            |  He helped with the marketing, PR & production as the game released on Xbox 360, Playstation 3, Wii U and Steam simultaneously. After, he primarily worked for Midnight City, where he re-designed their website and lead critical internal & external marketing initiatives.
          p
            | At the beginning of 2015, he started working with developers independently.
        p.faqQuestion
          | HOW CAN I CONTACT SQUIRE?
        p.faqAnswer
          | You can use any of the following methods to contact Squire to talk about your video game's needs...or just to say hi!
          br
          | E-mail:
          a(href='mailto:chris@squire.co') chris@squire.co
          br
          | Twitter:
          a(href='http://twitter.com/junklatch') @junklatch
          br
          | Skype:
          a(href='skype:dwyfi1') DWYFI1
      a(href='index.html') Back Home