extends layout
block vars
  - var pageTitle = 'SQUIRE FAQ'

block content
  #squirelogo
    a(href="#")
      img(src="img/squirelogo.svg", alt="Squire Logo")

  #contentwidth
    .fullcol
      .topcopy
        p.tagline.centered FAQ