extends layout
block vars
  - var pageTitle = 'SQUIRE'

block content
  #squirelogo
    a(href="#")
      img(src="img/squirelogo.svg", alt="Squire Logo")
  #contentwidth
    .fullcol
      .topcopy
        p.tagline Squire is a professional video game company that produces & promotes great games.

        p Look #[a(href="#games") below] and pay attention to all the beautiful games Squire is working with. They are all just the best people and projects.

        p To find out more about what the company does and how to work together, please #[a(href="faq.html") read the FAQ].

        p If you’re wondering why Junklatch is now Squire, there is an #[a(href="openletter.html") open letter] explaining the shift.

      //- a(href="#games", alt="Games Squire has worked with.")
      hr#games.splitter

      .gamelist
        .onethird
          .gamebox.brigador
            //- img(src="img/brigador-title.png", alt="Brigador")
            .gamename
              //- p Brigador
        .onethird
          .gamebox.rk3000
            img(src="img/rk3000-logo.png", alt="RK3000")
            .gamename
              //- p RK3000
        .onethird
          .gamebox.delversdrop
            img(src="img/delversdrop-logo.png", alt="RK3000")
            .gamename
              //- p Delver's Drop
      
        .onethird
          .gamebox
            .gamename
              p Kerfuffle
        .onethird
          .gamebox
            .gamename
              p Pioneers
        .onethird
          .gamebox
            .gamename
              p Where the Water Tastes Like Wine

        .onethird
          .gamebox
            .gamename
              p Mushroom 11
        .onethird
          .gamebox
            .gamename
              p Boru Mo
        .onethird
          .gamebox
            .gamename
              p Home Improvisation