extends layout
block vars
  - var pageTitle = 'SQUIRE'

block content
  //- #squirelogo
  //-   a(href="#")
  //-     img(src="img/squirelogo.svg", alt="Squire Logo")
  #contentwidth
    .fullcol
      .clearfix
        .toprow
          .squirelogoleft
            //- .logocontainer
            //- a(id="top")
            a(href="#")
              img(src="img/squirelogocropped.svg", alt="Squire Logo")
            //- #animate
            //-   a(href="#opencontainer")
            //-     h3 TEST
          .topcopy
            p.tagline Squire is a video game company that produces & promotes great games.

            //- p Look #[a(href="#games") below] to the wonderful games & developers that Squire is lucky enough to work with. They're the best.

            p.secondline To find out more about what the company does and how to work together, please #[a(href="faq.html") read the FAQ].
            
            .contactlinks
              a(href="mailto:chris@squire.co")
                img.squireEmail(src="img/mailsolid.png", alt="Email")
              a(href="http://twitter.com/junklatch")
                img.squireTwitter(src="img/twitter.png", alt="Twitter")
              a(href="faq.html")
                img.squireTwitter(src="img/faq.png", alt="FAQ")

            .newsletter
              //- p.upcase.signupto Mailing list:
              //- .field
              // Begin MailChimp Signup Form
              #mc_embed_signup
                form#mc-embedded-subscribe-form.validate(action='//squire.us12.list-manage.com/subscribe/post?u=b74f3600c2a789bf9c0645f51&id=8a3956cdd8', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                  #mc_embed_signup_scroll
                    input#mc-embedded-subscribe.button(type='submit', value='Sign Up', name='subscribe')
                    span.formcontainer
                      input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='Newsletter', required='')
                      // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                      div(style='position: absolute; left: -5000px;')
                        input(type='text', name='b_b74f3600c2a789bf9c0645f51_8a3956cdd8', tabindex='-1', value='')
                      //- .clear
              // End mc_embed_signup
              

              //- ul
                //- li.listpadright email: 
                  //- a(href="mailto:chris@squire.co") chris@squire.com
                //- li twitter: 
                  //- a(href="http://twitter.com/junklatch") @junklatch
                //- a(href="skype:dwyfi1")
                //-   img.squireSkype(src="img/skype.png", alt="Squire Logo")

            //- p If you’re wondering why Junklatch is now Squire, there is an #[a(href="openletter.html") open letter] explaining the shift.

            //- a(href="#games", alt="Games Squire has worked with.")
        
        //- hr#games.splitter
        .currentProjects.clearfix
          .currentProjectsLineOne
            hr#games.splitterWithText
          .currentProjectsTitle
            p PROJECTS
          .currentProjectsLineTwo
            hr#games.splitterWithText

        //- #currentprojects.clearfix
        //-   .centeredline
        //-     hr#games.splitter
        //-   .centeredtitlebox
        //-     .centeredtitle
        //-       p CURRENT PROJECTS  

      .gamelist
        .onehalf
          .whiteBorder
            //- a(href="http://wherethewatertasteslikewine.com/")
            //- a(href="#")
            #shifter
              //- .wherethewaterGamebox.wherethewater
              .wherethewater.gameBox
                img.oneHundred(src="img/wherethewater-logo.png", alt="Where the Water Tastes Like Wine Logo")
              //- .projectDetails.concealed
              //- .wherethewaterProjectDetails
              .wherethewater.projectDetails
                //- .wherethewaterText
                div
                  //- h3 WHERE THE WATER TASTES LIKE WINE
                  p 
                    //- | GAME: Where the Water Tastes Like Wine
                    //- br
                    | DEVELOPER: Dim Bulb Games
                    br
                    | PLATFORMS: TBA
                  p 
                    | + Production
                    br
                    | + Promotion
                div
                  p 
                    | twitter: #[a(href="http://twitter.com/dimbulbgames") @dimbulbgames]
                    br
                    | web: #[a(href="http://www.wtwtlw.com/") wtwtlw.com]

        .onehalf
          .whiteBorder
            #shifter
              .gonehome.gameBox
                img(src="img/gonehome-logo.png", alt="Gone Home Logo")
              .gonehome.projectDetails
                div
                  p 
                    | DEVELOPER: Fullbright
                    br
                    | PLATFORMS: PS4 / Xbox One
                  p 
                    //- | SQUIRE'S ROLE:
                    //- br
                    | + Production on Console Ports
                    br
                    | + Promotion
                div
                  p 
                    | twitter: #[a(href="http://twitter.com/fullbright") @fullbright]
                    br
                    | web: #[a(href="http://www.gonehomegame.com/") gonehomegame.com]

            //- .role
            //-   //- p Marketing/PR
            //-   p #[a(href="http://twitter.com/fullbright") @fullbright]
            //-   //- .gamename
            //-     p Where the Water Tastes Like Wine
      .gamelist.part2              
        .onehalf
          .whiteBorder
            #shifter
              .rk3000.gameBox
                img(src="img/rk3000-logo.png", alt="RK3000 Logo")
              .rk3000.projectDetails
                div
                  p 
                    | DEVELOPER: TK
                    br
                    | PLATFORMS: TK
                  p 
                    | + Production
                    br
                    | + Promotion
                div
                  p 
                    | twitter: #[a(href="http://twitter.com/primaerfunktion") @primaerfunktion]
                    br
                    | web: #[a(href="http://www.tk.com/") tk.com]
        .onehalf
          .whiteBorder
            #shifter
              .homeimprov.gameBox
                img(src="img/homeimprov-logo.png", alt="Home Improvisation Logo")
              .homeimprov.projectDetails
                div
                  p 
                    | DEVELOPER: TK
                    br
                    | PLATFORMS: TK
                  p 
                    | + Production
                    br
                    | + Promotion
                div
                  p 
                    | twitter: #[a(href="http://twitter.com/storkburntdown") @storkburntdown]
                    br
                    | web: #[a(href="http://www.tk.com/") tk.com]
          //- .role
          //-   //- p Marketing/PR
          //-   p #[a(href="http://twitter.com/storkburntdown") @storkburntdown] &bull; #[a(href="http://twitter.com/homeimprovgame") @homeimprovgame]
          //-   //- .gamename
          //-     p Home Improvisation
      //- img.triangle(src="img/triangle192.png", alt="A triangle")
      
      

      //- .currentProjects.clearfix
      //-   .pastProjectsLineOne
      //-     hr#games.splitterWithText
      //-   .pastProjectsTitle
      //-     p PAST PROJECTS
      //-   .pastProjectsLineTwo
      //-     hr#games.splitterWithText

      a.invisiblelink(id="opencontainer")
      .gamelist.part3          
        .expander.closed
          .content
            .onethird
              .whiteBorder
                #shifter
                  .delversdrop.gameBox
                    img(src="img/delversdrop-logo.png", alt="Delver's Drop Logo")
                  .delversdrop.projectDetails
                    div
                      p 
                        | DEVELOPER: TK
                        br
                        | PLATFORMS: TK
                      p 
                        | + Production
                        br
                        | + Promotion

                    div
                      p 
                        | twitter: #[a(href="http://twitter.com/delversdrop") @delversdrop]
                        br
                        | web: #[a(href="http://delversdrop.com/") delversdrop.com]
              //- .role
              //-   //- p Marketing/PR
              //-   p #[a(href="http://twitter.com/delversdrop") @delversdrop] &bull; #[a(href="http://twitter.com/pixelscopic") @pixelscopic]
              //-   //- .gamename
              //-     //- p Delver's Drop
            .onethird
              .whiteBorder
                #shifter
                  .brigador.gameBox
                    //- img(src="img/brigador-title.png", alt="Brigador")
                  .brigador.projectDetails
                    div
                      //- h3 BRIGADOR
                      p 
                        | DEVELOPER: Gausswerks
                        br
                        | PLATFORMS: TK
                      p 
                        | + Production
                        br
                        | + Promotion

                    div
                      p 
                        | twitter: #[a(href="http://twitter.com/hughsj") @hughsj] #[a(href="http://twitter.com/gausswerks") @gausswerks]
                        br
                        | web: #[a(href="http://stellarjockeys.com/") stellarjockeys.com]
              //- .role
              //-   //- p Marketing/PR
              //-   p #[a(href="http://twitter.com/HughSJ") @hughsj] &bull; #[a(href="http://twitter.com/gausswerks") @gausswerks]
            .onethird
              .whiteBorder
                #shifter
                  //-   a(href="http://pioneersgame.com/")
                  .pioneersGradient
                    .pioneers.gameBox
                      //- img(src="img/pioneers-logo.png", alt="Pioneers Logo")
                  .pioneers.projectDetails
                    div
                      //- h3 BRIGADOR
                      p 
                        | DEVELOPER: TK
                        br
                        | PLATFORMS: TK
                      p 
                        | + Production
                        br
                        | + Promotion

                    div
                      p 
                        | twitter: #[a(href="http://twitter.com/pioneersgame") @pioneersgame] #[a(href="http://twitter.com/eigenlenk") @eigenlenk]
                        br
                        | web: #[a(href="http://pioneersgame.com/") pioneersgame.com]
              //- .role
              //-   //- p Marketing/PR
              //-   p #[a(href="http://twitter.com/pioneersgame") @pioneersgame] &bull; #[a(href="http://twitter.com/eigenlenk") @eigenlenk]
              //-   //- .gamename
              //-     p Pioneers
            .onethird
              .whiteBorder
                #shifter
                  //- a(href="http://www.balloonandfriends.com/borumo")
                  .borumo.gameBox
                    //- img(src="img/borumo-logo.png", alt="Boru Mo Logo")
                  .borumo.projectDetails
                    div
                      //- h3 BRIGADOR
                      p 
                        | DEVELOPER: TK
                        br
                        | PLATFORMS: TK
                      p 
                        | + Production
                        br
                        | + Promotion

                    div
                      p 
                        | twitter: #[a(href="http://twitter.com/spacetreasured") @spacetreasured]
                        br
                        | web: #[a(href="http://balloonandfriends.com/borumo") balloonandfriends.com/borumo]
                  //- .role
                  //-   //- p Marketing/PR
                  //-   p #[a(href="http://twitter.com/spacetreasured") @spacetreasured]
                  //-   //- .gamename
                  //-     p Boru Mo
            
          
            .onethird
              .whiteBorder
                #shifter
                  //- a(href="http://ratcasket.com/")
                  .kerfuffle.gameBox
                    img.oneHundred(src="img/kerfuffle-logo.png", alt="Kerfuffle Logo")
                  .kerfuffle.projectDetails
                    div
                      //- h3 BRIGADOR
                      p 
                        | DEVELOPER: TK
                        br
                        | PLATFORMS: TK
                      p 
                        | + Production
                        br
                        | + Promotion

                    div
                      p 
                        | twitter: #[a(href="http://twitter.com/ratcasket") @ratcasket]
                        br
                        | web: #[a(href="http://ratcasket.com") ratcasket.com]
            .onethird
              .whiteBorder
                #shifter
                  //- a(href="http://mushroom11.com/")
                  .mushroom11.gameBox
                    img(src="img/mushroom11-logo.png", alt="Mushroom 11 Logo")
                  .mushroom11.projectDetails
                    div
                      //- h3 BRIGADOR
                      p 
                        | DEVELOPER: TK
                        br
                        | PLATFORMS: TK
                      p 
                        | + Production
                        br
                        | + Promotion

                    div
                      p 
                        | twitter: #[a(href="http://twitter.com/untamegames") @untamegames]
                        br
                        | web: #[a(href="http://mushroom11.com") mushroom11.com]
              //- .role
              //-   //- p Marketing/PR
              //-   p #[a(href="http://twitter.com/untamegames") @untamegames]
              //-   //- .gamename
              //-     p Mushroom 11
        


        //- p.bottomspacer bottom
        a(href="#opencontainer")
          img.logotriangle(src="img/squirelogoTriangle.svg", alt="Squire Logo")
        //- a(id="opencontainer")

  script
    // init controller
      var controller = new ScrollMagic.Controller();

      // build tween
      //- var tween = TweenMax.from("#animate", 0.5, {autoAlpha: 0, scale: 0.7});

      // build scene
      //- var scene = new ScrollMagic.Scene({triggerElement: "a#top", duration: 200, triggerHook: "onLeave"})
      //-         .setTween(tween)
      //-         .addIndicators() // add indicators (requires plugin)
      //-         .addTo(controller);

      // change behaviour of controller to animate scroll instead of jump
      controller.scrollTo(function (newpos) {
        TweenMax.to(window, 2.5, {scrollTo: {y: newpos}});
      });

      //  bind scroll to anchor links
      $(document).on("click", "a[href^='#']", function (e) {
        var id = $(this).attr("href");
        if ($(id).length > 0) {
          e.preventDefault();

          // trigger scroll
          controller.scrollTo(id);

            // if supported by the browser we can even update the URL.
          if (window.history && window.history.pushState) {
            history.pushState("", document.title, id);
          }
        }
      });
        
