extends layout
block vars
  - var pageTitle = 'SQUIRE'

block content
  #squirelogo
    a(href="#")
      img(src="img/squirelogo.svg", alt="Squire Logo")
  #contentwidth
    .fullcol
      .topcopy
        p.tagline Squire is a professional video game company that produces & promotes great games.

        p Look #[a(href="#games") below] and check out the wonderful games Squire is working with. They're the best.

        p To find out more about what the company does and how to work together, please #[a(href="faq.html") read the FAQ].

        //- p If you’re wondering why Junklatch is now Squire, there is an #[a(href="openletter.html") open letter] explaining the shift.

      //- a(href="#games", alt="Games Squire has worked with.")
      hr#games.splitter

      .gamelist
        .onethird
          a(href="http://stellarjockeys.com/")
            .gamebox.brigador
              //- img(src="img/brigador-title.png", alt="Brigador")
              //- .gamename
                //- p Brigador
          .role
            //- p Marketing/PR
            p #[a(href="http://twitter.com/HughSJ") @hughsj] &bull; #[a(href="http://twitter.com/gausswerks") @gausswerks]
        .onethird
          a(href="http://stellarjockeys.com/")
            .gamebox.homeimprov
              img(src="img/homeimprov-logo.png", alt="Home Improvisation Logo")
          .role
            //- p Marketing/PR
            p #[a(href="http://twitter.com/HughSJ") @hughsj] &bull; #[a(href="http://twitter.com/gausswerks") @gausswerks]
            //- .gamename
              p Home Improvisation
        .onethird
          a(href="http://delversdrop.com/")
            .gamebox.delversdrop
              img(src="img/delversdrop-logo.png", alt="Delver's Drop Logo")
          .role
            //- p Marketing/PR
            p #[a(href="http://twitter.com/HughSJ") @hughsj] &bull; #[a(href="http://twitter.com/gausswerks") @gausswerks]
            //- .gamename
              //- p Delver's Drop
        .onethird
          a(href="http://stellarjockeys.com/")
            .gamebox.mushroom11
              img(src="img/mushroom11-logo.png", alt="Mushroom 11 Logo")
          .role
            //- p Marketing/PR
            p #[a(href="http://twitter.com/HughSJ") @hughsj] &bull; #[a(href="http://twitter.com/gausswerks") @gausswerks]
            //- .gamename
              p Mushroom 11
        .onethird
          a(href="http://stellarjockeys.com/")
            .gamebox.borumo
              //- img(src="img/borumo-logo.png", alt="Boru Mo Logo")
          .role
            //- p Marketing/PR
            p #[a(href="http://twitter.com/HughSJ") @hughsj] &bull; #[a(href="http://twitter.com/gausswerks") @gausswerks]
            //- .gamename
              p Boru Mo
        .onethird
          a(href="http://www.rk3000.com/")
            .gamebox.rk3000
              img(src="img/rk3000-logo.png", alt="RK3000 Logo")
          .role
            //- p Marketing/PR
            p #[a(href="http://twitter.com/HughSJ") @hughsj] &bull; #[a(href="http://twitter.com/gausswerks") @gausswerks]
            //- .gamename
              //- p RK3000
        
      
        .onethird
          a(href="http://stellarjockeys.com/")
            .gamebox.kerfuffle
              img(src="img/kerfuffle-logo.png", alt="Kerfuffle Logo")
          .role
            //- p Marketing/PR
            p #[a(href="http://twitter.com/HughSJ") @hughsj] &bull; #[a(href="http://twitter.com/gausswerks") @gausswerks]

            //- .gamename
              p Kerfuffle
        .onethird
          a(href="http://stellarjockeys.com/")
            .gamebox.pioneers
              //- img(src="img/pioneers-logo.png", alt="Pioneers Logo")
          .role
            //- p Marketing/PR
            p #[a(href="http://twitter.com/HughSJ") @hughsj] &bull; #[a(href="http://twitter.com/gausswerks") @gausswerks]
            //- .gamename
              p Pioneers
        .onethird
          a(href="http://stellarjockeys.com/")
            .gamebox.wherethewater
              //- img(src="img/wherethewater-logo.png", alt="Where the Water Tastes Like Wine Logo")
          .role
            //- p Marketing/PR
            p #[a(href="http://twitter.com/HughSJ") @hughsj] &bull; #[a(href="http://twitter.com/gausswerks") @gausswerks]
            //- .gamename
              p Where the Water Tastes Like Wine

        
        
