extends layout
block vars
  - var pageTitle = 'SQUIRE - An Open Letter'

block content
  #contentwidth
    .fullcol
      .topcopy
        #letterhead
          img(src="img/squirelogo.svg", alt="Squire Logo")
        #letterbody
          p.openletter An open letter from Squire

          p Squire is about games.