extends layout
block vars
  - var pageTitle = 'SQUIRE - An Open Letter'

block content
  #contentwidth
    .fullcol
      .letterframe
        #letterlogo
          a(href="index.html")
            img(src="img/squirelogo.svg", alt="Squire Logo")
        #letteraddress
          p Squire Company 
          p NY 11106, 
          p United States
          br
          p squire.co 
          p chris@squire.co 

    .fullcol
      .letterframe
        #letterbody
          p.openletter An open letter from Squire
          p
            | In February 2015, I launched an experimental company called Junklatch. The aim of Junklatch was to support developers with their business dealings in a fair & personal manner at a very low-cost with a low-friction commitment. Over the course of time, I’ve had the pleasure to work with amazing developers such as Pixelscopic (Delver’s Drop), The Stork Burnt Down (Home Improvisation) & Johnnemann Nordhagen (Where the Water Tastes Like Wine) on their marketing, PR & production solutions.
          p
            | But Junklatch was for learning. Over the past 8 months, I’ve learned a lot of what makes this model work for both sides, as well as the strengths of my capabilities. It’s with this bubbling change that I’ve decided to rebrand and relaunch my company as the Squire Company.
          p
          p
            | Squire is more than a rebrand. There’s a couple of things I’m changing based on everything I’ve learned:
            br
          ul
            li
              | Stronger relationships: For both developers and myself, my help is best served in a condensed, close nature. Moving forward, I’ll predominantly be working with projects that are launching within ~6 months
            br
            li
              | Larger focus on production: I’m a good marketer, but an even better producer. The majority of this year’s work was marketing-focused, but the brief amounts of production work I did (organizing, scoping, herding, ‘making things happen’) were amongst the most successful
            br
            li
              | Autonomy in events: Over the next 6 months, I’ll be making significant strides to provide unique opportunities to the developers I’m working with to display their games at large events & create new events for them to shine
            br
            li
              | Teaching: Something I haven’t been able to do much of, that I think is an important endeavor, is to help developers learn the basics of marketing, PR & production. A great goal of mine is to help each developer grow in their business capabilities, even if it ends up making me obsolete
            br
            li
              | Full-time video games: A little known fact is that all during the period of Junklatch, I have been supporting myself by taking on time-consuming, long-term contract jobs outside of the industry. Due to a few recent video game contracts,  I am ending my latest out-of-industry contract at the end of this month (Oct. 2015) and will be full-time video games moving forward.
            br
          p
          p
            | It’s important to note, Squire maintains the same core philosophy as Junklatch which is:
            br
            | “To provide fair and customized support to independent video game creators.”
          p
            | I am so incredibly thankful for every single video game I’ve seen & played this year, and every single tweet, Skype, email and face-to-face interaction I’ve had with developers, writers & players. It’s a continued pleasure to support amazing creators every day, and I never want to stop.
          p
            | Best,
            br
            | Chris Dwyer
            br
            | Founder, Squire Company
            br
          .backhome
            a(href='http://squire.co/index.html') Back Home

